%body
  %header.header
    %nav.nav
      %ul.header_menu
        %li.nav-link.header_menu_user
          %li= link_to "#{current_user.name}さん", edit_user_registration_path, class: "nav-link"
        %li.header_menu_title= link_to "kanban", root_path, class: "nav-link"
        %li
          %ul.header_menu_inner
            %li= link_to "リストを作成", new_list_path, class: "nav-link listNew"
            %li= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete
