.cardeditPage
  .container
    = form_with model: @card, url: { action: :update }, html: { class: "cardeditForm" }, local: true do |f|
    - if @card.errors.any?
        %p.text-danger タイトルは1~255文字以内で入力しください
      .cardeditForm_title
        = f.label :title
        = f.text_field :title, class: "form-control", placeholder: "カード名"
      .cardeditForm_memo
        = f.label :memo
        = f.text_field :memo, class: "form-control", placeholder: "詳細"
      .text-center= = f.submit "更新する", class: "submitBtn"
